<html>
	<body>
		<div class="table-responsive">
            <table class="table table-bordered table-striped">
                <colgroup>
                    <col class="col-xs-2"> 
                    <col class="col-xs-8">
                </colgroup> 
                <tbody>
                    <tr>
                        <th class="th-table" scope="row">1. Vi trí công viec</th>
                        <td>Nhân su giao hàng</td>
                    </tr>
                    <tr>
                        <th class="th-table" scope="row">2. Mô ta công vi?c</th>
                        <td>Công viec cua nhân viên giao hàng tai Hieu Huong cu the nhu sau: Nhân viên giao hàng se nhan hàng tai kho và di giao hàng và thu tien theo dia chi trên kien hàng dúng thoi gian. Hàng hóa là nhung san pham nho nhe bán trên các website thuong mai dien tu cua các </td>
                    </tr>
                    <tr>
                        <th class="th-table" scope="row">3. Yêu cau công viec</th>
                        <td>- Biet dieu khien, chay xe 2 bánh.<br />
                            - Nam rõ duong xá trong thành pho nhu lòng bàn tay cua ban.<br />
                            - Thái do phuc vu tot vui ve voi khách hàng khi nhan hàng và giao hàng.<br />
                            - Có tinh th?n trách nhi?m trong công vi?c.<br />
                            - Phoi hop tot voi các bo phan liên quan.
                        </td>
                    </tr>
                    <tr>
                        <th class="th-table" scope="row">4. Yêu cau ho so</th>
                        <td>Ho son xin viec gom:<br />
                            - Ðon xin viec<br />
                            - So yeu lý lich (có kèm anh moi nhat chup nua/ca nguui và anh chân dung)<br />
                            - Ho khau, chung minh nhân dân và giay khám suc khoe (ban copy)<br />
                            - Các bang cap có liên quan (ban copy).<br />
                            Luu ý: Các NV duoc trúng tuyen se trình các giay to ban goc de doi chieu
                        </td>
                    </tr>
                    <tr>
                        <th class="th-table" scope="row">5. Vi trí công viec</th>
                        <td>Liên tuc tuyen dung trong nam 2016</td>
                    </tr>
                </tbody>
            </table> 
        </div>
	</body>
</html>