:focus {
    outline:none;
}
body{
	/*font-family: Myriad Pro;*/
	font-family: 'Roboto-Regular';
	font-size: 14px;
	line-height: 22px;
	color:#666;
}
ul, li, ol {
    padding:0;
    margin:0;
    list-style:none;
}
a:hover, a:focus {
    text-decoration:none;
}
p {
    margin:0;
}
#wrapper
{
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper-in {
    background-color: #fff;
    /*background: url(../images/header-bg.jpg) repeat center top;*/
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}
.clr{
	clear: both;
}
a:visited, a:focus {
	outline: none;
}

.container {
    width:1200px;
}
/*========================header (***) =================*/
#header {
    height:122px;
    box-shadow:0 0 5px 3px rgba(29,28,28,0.2);    
    position: relative;
    z-index: 1;
}
#header .container .row{
    position:relative;
    height:122px;
}
#header .container .row::after{
    position:absolute;
    content:"";
    background:url(../images/bor-head.png) no-repeat;
    width:236px;
    height:44px;
    bottom:-44px;
    left:0;
    z-index:1;
}
#header .head-left .logo{
    position:relative;
    z-index:2;
    top:0;
    margin-left:30px;
    display:inline-block;
    width:163px;
}
#header .head-left .logo img{
    position:absolute;
}
#header .head-left .company {
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: top;
}
#header .head-left .company p{
    font-family: 'UTM Avo';
    font-size:24px;
    color:#1f3686;
    text-transform:uppercase;
    margin-top:20px;
}
#header .head-left .company h1{
    font-family: 'UTM AvoBold';
    font-size:40px;
    color:#db0e1f;
    text-transform:uppercase;
    margin-top:7px;
    margin-left:75px;
}
#header .head-right .top-head-right {
    text-align:right;
}
#header .head-right .top-head-right .language{
    margin-top:9px;
    margin-bottom:7px;
}
#header .head-right .top-head-right .hotline{
    display:inline-block;
    vertical-align:top;
    background:url(../images/hotline.png) no-repeat left center;
    padding:2px 0;
    padding-left:50px;
    margin-top:-20px;
}
#header .head-right .top-head-right .hotline p{
    font-family: 'Oswald-Regular';
    color:#db0e1f;
    font-size:28px;
    margin-top:15px;
}
#header .head-right .top-head-right .search{
    display:inline-block;
    vertical-align:top;
    position:relative;
    padding-left:70px;
}
#header .head-right .top-head-right .search input[type="text"]{
    width:220px;
    border:0;
    height:36px;
    background:#263d8a;
    position:relative;
    padding-right:35px;
    color:#fff;
    font-size:12px;
    font-family: 'Roboto-Regular';
    font-style:italic;
}
#header .head-right .top-head-right .search input[type="submit"]{
    position:absolute;
    background:url(../images/search.png) no-repeat;
    width:19px;
    height:19px;
    top:0;
    bottom:0;
    margin:auto;
    right:8px;
    border:0;
}
#header .head-right .top-head-right .search::before{
    position:absolute;
    content:"";
    background:url(../images/bor-input.png) no-repeat;
    width:50px;
    height:36px;
    left:20px;
    top:0;
}
#header .head-right .top-head-right .search::after{
    position:absolute;
    content:"";
    background:#263d8a;
    width:100000%;
    height:36px;
    left:100%;
    top:0;
}















/*= menu pc =*/
#header #menu {
    float:right;
    /*width: 100%;*/
    vertical-align:top;
    background:#00a7d9;
    position:relative;
}
#header #menu::before {
    position:absolute;
    content:"";
    background:url(../images/bor-menu.png) no-repeat;
    width:70px;
    height:43px;
    left:-70px;
    top:0;
}
#header #menu::after {
    position:absolute;
    content:"";
    background:#00a7d9;
    width:100000%;
    height:43px;
    left:100%;
    top:0;
}
#menu > li {
    float:left;
    line-height: 43px;
    position:relative;
    z-index:11;
}
#menu > li > a{
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    padding:0 20px;
    font-family: 'Roboto-Bold';
    background:url(../images/bg-li.png) repeat-y right center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display:block;
}
#menu > li:first-child > a{
    padding-left:5px;
}
#menu > li:last-child > a{
    background:none;
    padding-right:0;
}
#menu > li:hover > a, #menu > li.active > a{
    color:#db0e1f;
}

#menu ul{
    position:absolute;
    min-width:200px;
    width:200px;
    left:0;
    display:none;
}
#menu ul > li{
    display:block;
    width:100%;
    background:#00a7d9;
    margin-top:1px;
}
#menu ul > li a{
    font-size:15px;
    color:#fff;
    padding:0 20px;
    font-family: 'Roboto-Regular';
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#menu ul > li:hover > a{
    color:#db0e1f;
}
/*========================= Slideshow ========================*/
 .slider-df{
     position:relative;
}
.slider-df::after {
    position:absolute;
    content:"";
    background:url(../images/bor-slide.png) repeat-x;
    width:100%;
    height:8px;
    bottom:0;
    left:0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width:100%;
}
.carousel-control.left {
    left:7%;
}
.carousel-control.right {
    right:7%;
}
.carousel-control.left,.carousel-control.right {
    background:none;
    z-index:11;
    width:30px;
    height:30px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*=========================
            FOOTER
    ========================*/
#footer {
    margin-top:-70px;
}
.footer-content {
    background:#00a7d9;
    float:left;
    width:100%;
    position:relative;
}
.footer-content::before {
    position:absolute;
    content:"";
    background:#00a7d9;
    width:10000%;
    right:100%;
    height:calc(100% + 43px);
    top:-43px;
}
.footer-content::after {
    position:absolute;
    content:"";
    background:#00a7d9;
    width:10000%;
    left:100%;
    height:100%;
    top:0;
}
.footer-content .pull-left {
    position:relative;
    top:-15px;
}
.footer-content .pull-left::before {
    position:absolute;
    content:"";
    background:url(../images/bor-footer.png) no-repeat;
    width:795px;
    height:43px;
    top:-28px;
    left:0;
    z-index:1;
}
.footer-content .pull-left h1{
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    font-family: 'Roboto-Regular';
    margin-top:0;
    margin-bottom:15px;
    font-weight:bold;
    position:relative;
    z-index:2;
}
.footer-content .pull-left p{
    font-size:14px;
    color:#fff;
    font-family: 'Roboto-Regular';
    margin-top:0;
    margin-bottom:0;
    position:relative;
    z-index:2;
}
.footer-content .pull-left p a{
    font-size:14px;
    color:#fff;
    font-family: 'Roboto-Regular';
    margin-top:0;
    margin-bottom:0;
}
.footer-content .pull-left i{
    font-size:18px;
    color:#fff;
    width:25px;
    text-align:center;
    margin-right:10px;
}
.follow-ft {
    text-align:right;
}

.follow-ft span {
    font-family: 'Roboto-Regular';
    font-size: 13px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
.follow-ft i {
    width: 28px;
    height: 28px;
    font-size: 15px;
    color: #fff;
    background: #80d3ec;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 10px;
}
.follow-ft i::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.copyright {
    padding-top: 10px;
}
.copyright p  {
    font-size: 13px;
    font-family: 'Roboto-Regular';
    color: #fff;
    font-style:italic;
    padding-right:10px;
}
.copyright a {
    text-align:right;
    font-size: 13px;
    font-family: 'Roboto-Regular';
    color: #fff;
    font-style:italic;
    display:block;
    padding-right:10px;
}

/*********==================== giới thiệu ==================********/
.introduce {
    padding-bottom:170px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs>li {
    float: none;
    display:block;
    width:100%;
    margin-bottom: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #00a7d9;
    border: 0;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li > a {
    margin-right:0;
    border-radius:0;
    border:0;
}
.nav-tabs>li>a:hover {
    border:0;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: none;
}
.tab-pane {
    text-align:justify;
}

.cloud-zoom-loading{
	display:none;
}








/* bot-main */




/*=========== scroll to top ==========*/
.scroll-to-top{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    background: #0f487e;
    z-index: 9;
    border-radius:10px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.scroll-to-top i{
    font-size:30px;
    color:#fff;
    line-height:35px;
}
/*==================================
              DEFAULT
    =======================================*/
/*========= cate ========*/
.main-cate {
    display:block;
    width:100%;
    margin-top:70px;
    padding-bottom:25px;
}
.main-cate .items:nth-child(8n + 1) {
    margin-left:0;
}
.main-cate .items {
    background: rgba(83,213,253,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(83,213,253,1) 0%, rgba(9,147,189,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(83,213,253,1)), color-stop(100%, rgba(9,147,189,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(83,213,253,1) 0%, rgba(9,147,189,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(83,213,253,1) 0%, rgba(9,147,189,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(83,213,253,1) 0%, rgba(9,147,189,1) 100%);
    background: radial-gradient(ellipse at center, rgba(83,213,253,1) 0%, rgba(9,147,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d5fd', endColorstr='#0993bd', GradientType=1 );
    width:202px;
    height:202px;
    border:2px solid #fff;
    border-radius:50%;

    display:inline-block;

    margin-left:-64px;
    position:relative;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    vertical-align:top;

    margin-bottom:25px;
}
.main-cate .items::before {
    position:absolute;
    content:""; 
    background: rgba(69,109,243,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,109,243,1) 0%, rgba(36,58,128,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(69,109,243,1)), color-stop(100%, rgba(36,58,128,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,109,243,1) 0%, rgba(36,58,128,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(69,109,243,1) 0%, rgba(36,58,128,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(69,109,243,1) 0%, rgba(36,58,128,1) 100%);
    background: radial-gradient(ellipse at center, rgba(69,109,243,1) 0%, rgba(36,58,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#456df3', endColorstr='#243a80', GradientType=1 );
    opacity:0;
    width:100%;
    height:100%;
    border-radius:50%;
    top:0;
    left:0;
    opacity:0;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.main-cate .items:hover::before {
    opacity:1;
} 

.main-cate .items::after {
    position:absolute;
    content:"";
    background:url(../images/items-shadow.png);
    background-repeat:no-repeat;
    width:145px;
    height:24px;
    bottom:-30px;
    left:0;
    right:0;
    margin:auto;
}
.main-cate .items:hover {
    margin-top:-20px;
    z-index:10;
}
.main-cate .items a {
    width:100%;
    height:100%;
    display:block;
}
.main-cate .items .item-detail{
    position:absolute;
    width:auto;
    height:auto;
    top:60%;
    left:50%;
    display:block;
    -webkit-transform: translate(-50%,-60%);
    -moz-transform: translate(-50%,-60%);
    -o-transform: translate(-50%,-60%);
    transform: translate(-50%,-60%);
}
.main-cate .items a img{
    display:block;
    margin:0 auto;
    max-width:90%;
    max-height:60%;
    margin-bottom:5px;
}
.main-cate .items p{
    font-family: 'UTM AvoBold';
    font-size:13px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    line-height:15px;
}

.main-introduce {
    background:url(../images/bg-intro.png) no-repeat;
    background-position:right top;
    padding-bottom:170px;
}
.content-main-intro {
    width:875px;
}
.content-main-intro h1{
    font-family: 'Roboto-Light';
    font-size:36px;
    color:#282828;
}
.content-main-intro p{
    font-family: 'Roboto-Light';
    color:#484848;
    font-size:15px;
    text-align:justify;
    margin-bottom:10px;
}
.content-main-intro .readmore {
    width:150px;
    height:33px;
    border-radius:20px;
    background:#263d8a;
    text-align:center;
    float:right;
}
.content-main-intro .readmore a{
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    line-height:33px;
}



/*** product ***/
.product-container {
    padding-bottom:170px;
}
aside.aside-product {
    width:280px;
    display:inline-block;
}
aside.aside-product h3 {
    background:#00a7d9;
    margin:0;
    text-transform:uppercase;
    color:#fff;
    font-family: 'UTM AvoBold';
    font-size:18px;
    text-align:center;
    padding:15px 10px;
}
aside.aside-product ul {
    border:1px solid #ddd;
}
aside.aside-product ul li {
    border-bottom:1px solid #ddd;
    background:#f2f2f2;
}
aside.aside-product ul li:last-child {
    border-bottom:0;
}
aside.aside-product ul li a {
    padding: 12px 30px;
    display:block;
    font-size:15px;
    color:#464848;
    text-transform:uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-weight:bold;
}
aside.aside-product ul li a:hover {
    color:#f00;
}
.main-product {
    width:calc(100% - 284px);
    display:inline-block;
    padding:0 25px;
}
/*== content-pro ==*/
.product-content {

}
.product-items .items{
    width:calc(33.3333% - 4px);
    display:inline-block;
    vertical-align:top;
    margin-bottom:15px;
}
.product-items .pro-img{
    position:relative;
    border:1px solid #ddd;
    height:200px;
    overflow:hidden;
    margin-bottom:5px;
}
.product-items .pro-img img{
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    position:absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.product-items .pro-title{
    text-align:center;
}
.product-items .pro-title a{
    display:block;
    line-height:15px;
    color: #000;
    font-size: 15px;
    font-family: 'Roboto-Bold';
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.product-items .pro-title a:hover{
    color: #f00;
}
.link-quickview, .link-wishlist {
    width: 62px;
    height: 62px;
    background: #fff;
    display: inline-block;
    position: absolute;
    margin-right: 1px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    top:0;
    bottom:0;
    margin:auto;
    opacity:0;
    color:#000;
}
.link-quickview:hover, .link-wishlist:hover {
    background: #f00;
    color:#fff;
}
.link-quickview span, .link-wishlist span {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.link-quickview {
    left:0;
}
.link-wishlist {
    right:0;
}
.product-items .pro-img:hover .hidden-button {
    opacity: 1;
}
.product-items .pro-img:hover .link-quickview {
    left:50%;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*.product-items .pro-img:hover .link-wishlist {
    right:calc(50% - 63px);
    opacity: 1;
}*/
.hidden-button {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s ease;
}

/* product detail */
/* san pham chi tiet */
.left-detail-sp {
    width:400px;
    display:inline-block;
    box-sizing:border-box;
}
.main-detail-image {
    border:1px solid #ddd;
    width:100%;
    float:right;
    box-sizing:border-box;
}
.main-detail-image img{
    width: 100%; 
}
.thumb-detail-images {
    margin-top:7px;
}
.thumb-detail-images .item{
    border:1px solid #ddd;
    box-sizing:border-box;
    padding:5px;
    display: inline-block;
    width:99%;
}
.thumb-detail-images .owl-nav .owl-prev{
    background:url(../images/arraw-spdt.png) no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    left:0;
    top:-7px;
    bottom:0;
    margin:auto;
    text-indent:99999px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity:0;
}
.thumb-detail-images:hover .owl-nav .owl-next{
    opacity:0.25;
}
.thumb-detail-images:hover .owl-nav .owl-prev{
    opacity:0.25;
}
.thumb-detail-images .owl-nav .owl-next{
    background:url(../images/arraw-spdt.png) no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    right:0;
    top:-7px;
    bottom:0;
    margin:auto;
    text-indent:-99999px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity:0;
}

.right-detail-sp {
    width:400px;
    display:inline-block;
    box-sizing:border-box;
    vertical-align:top;
    padding:0 25px;
}
.right-detail-sp h3.sp-id{
    color: #060606;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}
.right-detail-sp > p {
    font-style: italic;
    padding: 10px 0 30px;
}
.right-detail-sp .price p{
    color: #f00;
    font-size: 24px;
    padding-right: 0px;
    font-weight: bold;
}
.right-detail-sp .price p span{
    color: #a0a0a0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
}
.mota {
    margin-top:25px;
}
.mota h1{
    margin:0;
    font-size:18px;
    font-family: 'UTM AvoBold';
    text-transform:uppercase;
    color:#000;
    margin-bottom:15px;
}
.more-product {
    margin-top:25px;
}
.more-product h1{
    margin:0;
    font-size:18px;
    font-family: 'UTM AvoBold';
    text-transform:uppercase;
    color:#000;
    margin-bottom:15px;
}

.more-item .item .pro-img{
    height:200px;
    position:relative;    
    border:1px solid #ddd;
    text-align:center;
    overflow:hidden;
    width:99%;
}
.more-item .item .pro-img img{
    max-width:99%;
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
.more-item .item .pro-title{
    text-align:center;
    margin-top:5px;
}
.more-item .item .pro-title a{
    display:block;
    line-height:15px;
    color: #000;
    font-size: 15px;
    font-family: 'Roboto-Bold';
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.more-item .owl-nav .owl-prev{
    background:url(../images/arraw-spdt.png) no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    left:0;
    top:-7px;
    bottom:0;
    margin:auto;
    text-indent:99999px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity:0.25;
}
.more-item .owl-nav .owl-next{
    background:url(../images/arraw-spdt.png) no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    right:0;
    top:-7px;
    bottom:0;
    margin:auto;
    text-indent:-99999px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity:0.25;
}
.more-item .owl-nav .owl-prev:hover {
    opacity:1;
}
.more-item .owl-nav .owl-next:hover {
    opacity:1;
}


/*=========== breadcrumbs ==========*/
.corner {
    margin: 0;
    padding:10px 0;
}
.corner a > i.fa-home {
    color: #0f487e;
    font-size: 20px;
}
.corner span,.corner a {
    padding: 0 10px;
}
/*pager*/
.pager a, .pager > span {
    background: #f5f5f5;
    color: #282828;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    min-width: 28px;
}
.pager .first, .pager .last, .pager .prev, .pager .next {
    padding: 0;
    width: 28px;
}
.pager .first, .pager .last {
    font-size: 12px;
}
.pager a:hover, .pager a.current {
    background-color: #ea0000;
    color: #fff;
    text-decoration: none;
}
/*end pager*/



/*============= menu (*style css cho menu*) ==================*/

/*========================menu mobile (*style css toggle menu(nút nhấp hiện menu)*) ==========================*/
.menu-mo {
    color: #0f487e;
    display: block;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}
.menu-mo span {
	color: #0f487e;
	display: block;
	float: left;
	font-size: 26px;
	line-height: 40px;
	padding-right: 5px;
}
.menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
	color: #0f487e;
	text-decoration: none;
}
/*========= (*style menu mobile*) ==========*/
.mobile-panel
{
    background-color: #fff;
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
    opacity: 0;
	filter:alpha(opacity=0); 
}
.mobile-panel .menu-in
{
    /*overflow: hidden;*/
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.mask-panel, #mask-left, #mask-right  /* mask khi click ra ngoài menu thì đóng menu */
{
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
	filter:alpha(opacity=0); 
    height: 100%;
    width: 100%;
    z-index: 9998;
}
.mobile-panel p
{
    padding: 0;
    margin: 0;
}
/** nút close ở menu **/
.close-menu
{
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}
.close-menu a
{
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.close-menu a:hover {
	text-decoration: none;
}
#menumobile .close-menu
{
    right: -30px;
}
#mobileRight .close-menu
{
    left: -30px;
}
.mobile-panel .menu-mobile
{
    position: relative;
    padding: 15px;
    z-index: 1;
}
.overflow{
	overflow:hidden;
}
/*===========================*/
/*================ transition menu =================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}
.panel-reveal .mobile-panel
{
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8+*/  
        filter: alpha(opacity=0); /* IE7 and lower */ 
        z-index: -1;
}
.panel-reveal .mobilep-left
{
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-reveal .mobilep-right
{
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*================== translate3d đẩy menu ra ========================*/
.panel-reveal .open-in{
    z-index: 1;
}
.panel-reveal .mobilep-right {
    left: auto;
    right: 0;
}
.panel-reveal #wrapper-in {
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
}
.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}
.mobile-active-left .mask-panel{
    left: 240px;
}
.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}
.mobile-active-right .mask-panel{
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*================= style menu lúc responsive ===================*/
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-nav > li {
	padding-top: 1px;
}
.menu-nav > li > a {
	background-color: #0f487e;
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	padding: 7px 25px 7px 10px;
	text-transform: uppercase;
	position: relative;
}
.menu-nav .iconar  {
	display: block;
	font-size: 22px;
	text-align: right;
	height: 30px;
	line-height: 30px;
	right: 5px;
	top: 50%;
	margin-top: -15px;
	position: absolute;
	width: 30px;
	opacity: 0.8;
}
.menu-nav a:hover {
	text-decoration: none;
}
.menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
	background-color: #de0004;
}
.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-nav > li > ul {
        background-color: #fff;
}
.menu-nav ul li {
    padding-top: 1px;
}
.menu-nav ul a {
   background-color: #636363;
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 22px;
    padding: 5px 10px;
    position: relative;
    text-transform: capitalize;
}
.menu-nav ul a {
    padding-left: 20px;
}
.menu-nav ul ul a {
    font-size: 14px;
    line-height: 20px;
    padding-left: 30px;
}
.menu-nav ul ul ul a {
}
.menu-nav ul ul ul a .iconl {
	display: none;
}
.menu-nav ul .iconl {
    display: block;
    height: 20px;
    line-height: 18px;
    left: 10px;
    top: 6px;
    position: absolute;
    width: 14px;
}
.menu-nav ul ul .iconl {
    left: 20px;
}
.menu-nav ul li > a:hover, .menu-nav ul li:hover > a, .menu-nav ul li.active > a {
    color: #fef738;
}
.menu-mobile .title {
    font-size: 16px;
}
#menuProduct > li > a {
    font-size: 15px;
}
#menuProduct ul li a {
    padding-left: 20px;
}
/*=================*/
.menu-mobile .logo {
    background-color:#fff;
    float: none;
    /*margin: 0 auto 15px;*/
    padding: 0;
    /*width: 180px;*/
    width:210px;
    padding-left:0;

}
/*================*/


/*======tin-tuc==========*/

/*=====pager=========*/
.pager
{
    text-align: center;
    vertical-align: top;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
}
.pager.pagersroll
{
    background-color: #fff;
    -webkit-box-shadow: 3px 0 5px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 0 5px #ddd;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 0 5px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 7px 0 5px !important;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.pager a, .pager span
{
    background: #ccc;
    color: #3198e7;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    min-width: 28px;
}
.pager a:hover, .pager a.current, .pager span.current
{ 
    background-color: #3198e7;
    color: #fff;
    text-decoration: none;
}
    .pager .first, .pager .last,
    .pager .prev, .pager .next {
        padding: 0;
        width: 28px;
    }
    .pager .first:hover, .pager .last:hover,
    .pager .prev:hover, .pager .next:hover {
        background-color: #f5f5f5;
        color: #006699;
    }
    .pager .first, .pager .last {
        font-size: 12px;
    }
.pager .prev, .pager .next {
    font-size: 16px;
}
 /*===========tuyen-dung===========*/
.title h1 {
    color: #282828;
    font-family: "Roboto-Light";
    font-size: 36px;
    text-align:center;
}
.recruitment {
    margin:20px 0;
    padding-bottom:140px;
}
.rec-title {
    margin-bottom: 30px;
    text-align: center;
}
.rec-title p {
    color:#333333;
    margin-bottom:0;
    font-size:16px;
}
.rec-title p span{
    color:#666666;
    font-size:14px;
    font-style:italic;
}
.rec-content {
    width: 80%;
    float:left;
}
.down-pfd {
    float: right;
    width: 15%;
}
    .down-pfd img {
        width:100%;
    }
.th-table {
    font-weight:normal;
}
.th-table {
    font-weight:500;
}
.table-bordered {
    border:none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:none;
}
    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        /*border-top:1px solid #ccc;*/
    }
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color:#fff;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color:#fff;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color:#fff;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color:#fff;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-left:none;
    border-right:none;
    border-bottom:none;
}
.panel-title {
    position:relative;
}
.panel-group .panel-heading {
    border:none;
    border-radius:0;
    background:#ddd;
}
.panel-title a {
    text-decoration:none;
}
.panel-heading.actives {
    color:#fff;
    background-color:#00a7d9 ;
}
.panel-default {
    border-color:#fff;
}
.panel-title span {
    font-size: 25px;
    position: absolute;
    right: -2px;
    top: -2px;
}
.panel-title .icon-plus{
    background:url(../images/1.png) no-repeat right 5px;
    display: block;
    height: 20px;
    width: 13px;
}
.panel-title a.current > .icon-plus {
    background:url(../images/2.png) no-repeat right center;
}
/*===================contact====================*/
.wrap-contact {
    width:100%;
    overflow:hidden;
    margin:30px 0 10px 0;
}
.map-contact {
    margin-bottom:120px;
}
.wrap-contact, .wrap-contact a {
    color: #282828;
    font-size: 14px;
}
.wrap-contact h4 {
    color: #00a7d9;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.wrap-contact h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom:0;
}
.address-contact {
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.address-contact p strong {
    display: inline-block;
    width: 115px;
}
    .address-contact p > .fa, #map .box .fa {
        color:#00a7d9;
        display: inline-block;
        width:25px;
    }
#map .box .fa {
    width: 20px;
}
.address-contact p {
    margin-bottom: 5px;
}
.sharew, .wrap-send {
    width: 100%;
}
    .sharew a, .sharew .sharew img {
        display: inline-block;
        vertical-align: top;
    }
    .sharew .sharew img {
        max-width: 100%;
    }
/*==================*/
.contact-w {
    overflow: hidden;
    padding: 8px 0;
    width: 100%;
}
    .contact-w .contact-lb {
        color: #949494;
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin: 0;
        line-height: 22px;
    }
    .contact-w .contact-input {
        overflow: hidden;
    }
.contact-input .contact-textbox, .contact-input .contact-area {
    background-color: #f4f4f4;
    border: solid 1px #ddd;
    color: #222;
    display: block;
    font-size: 13px;
    width: 100%;
}
.contact-input .contact-textbox {
    background-color:#fff;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.contact-input .contact-area {
    background-color:#fff;
    padding: 10px;
    height: 160px;
    line-height: 20px;
    resize: none;
}
.contact-btn {
    float:left;
    background-color:#00a7d9;
    border-radius:30px;
}
.button-btn {
    border: none;
   background: url(../images/bg-btn.png) no-repeat center center;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    padding:0 60px;
    width:100px;
}
.contact-btn .button-btn {
    display: block;
    width: 100%;
}

/*=====================================*/
.map-wrap
{
    background-color: #fff;
    border: solid 1px #d2d2d2;
    overflow: hidden;
    height: 480px;
    padding: 3px;
    width: 100%;
}
.send-contact
{
    color: #484848;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}
#mapwrap {
    height: 500px;
    width: 100%;
}
#map
{
    height: 100%;
    width: 100%;
}
#map .box
{
    width: 340px;
}
#map .box, #map .box a
{
    color: #282828;
    font-size: 14px;
    line-height: 22px;
}
#map .box .title-2
{
    color: #00a7d9;
    font-weight: 700;
    margin-bottom: 10px;
}
#map .box p
{
    margin: 0;
    position: relative;
}
    #map .box .title-2 {
        background: none;
        padding-bottom: 0;
    }
#map .ml {
    margin-left: 15px;
}
#map .box .glyphicon
{
    color: #b1b1b1;
    height: 18px;
    line-height: 18px;
    width: 16px;
}
#map .box .iconl {
    display: block;
    left: 0;
    top: 0;
    position: absolute;
}
/*===============================*/
.mapbg {
    background-color: #fff;
}
.wrap-send .row {
    margin-left: -8px;
    margin-right: -8px;
}
.wrap-send .col-xs-6 {
}
.box h4 {
    color:#293c92;
}  

/** fix **/
.panel-group .panel-heading{
    padding:0;
    background:none;
}
.panel-heading {
    background:#ddd !important;
}
.panel-heading.active {
    color:#333;
    background:#ffca37 !important;
}
.panel-title a {
    display:block;
    padding:10px 15px;
    position:relative;
}
.panel-title .icon-plus {
    background: url(../images/1.png) no-repeat;
    display: block;
    height: 13px;
    width: 9px;
    position:absolute;
    top:0;
    bottom:0;
    right:10px;
    margin:auto;
}

/* gioithieu */




/*================================footer=====================================*/

/*================================main-content================================*/

/*================================responsive=================================*/
.ipadmo-992 { /* ẩn nút menu */
    display: none;
}
@media screen and (max-width: 1199px){
        
}
@media (min-width: 993px) and (max-width: 1199px) {
    
}

@media (max-width: 992px) {
    .ipadmo-992 { /* hiện menu đt */
        display: block;
    }
    .desktop-992 { /* ẩn menu pc */
        display: none;
    }
}
@media screen and (max-width: 991px){
    
}
@media screen and (max-width: 970px) {
   
}
@media screen and (max-width: 820px) {

}       
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px){ 
	
}
@media screen and (max-width: 767px){
	
}
@media screen and (max-width: 639px){
	
}
@media screen and (max-width: 549px){
	
}
@media screen and (max-width: 479px){
	.title.mo-640 {
        display:block;
    }
    .title.tit-640 {
        display:none;
    }
}
@media screen and (max-width: 320px){
	
}

        
        
